[flake8]
extend-ignore = 
    E203,
    C901
exclude =
    .venv,
    venv,
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
    test.py
    test_correct.py
    test_day.py
    test_month.py
    max-complexity = 10